@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Freehand&family=Oswald:wght@200&family=Quicksand:wght@300;400&family=Raleway:ital,wght@0,100;1,100&family=Urbanist:ital,wght@1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif
}

body {
  overflow-x: hidden;
}

.Envios {
  padding: 10px;
  width: 100%;
  max-width: 1000%;
  margin: auto;
  background-color: #C23373;
  color: white;
  font-weight: 500;
}

.Envios p {
  text-align: center;
  margin-bottom: 0
}

p {
  margin-bottom: 0;
}

.btn-wpp {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 50px;
  right: 30px;
  text-align: center;
  font-size: 40px;
  z-index: 100;

}


header {
  height: auto;
  background-size: cover;
  background-color: antiquewhite;
}

header.int nav{
  align-items: center;
  gap: 30px;
}
header.int .logo{
  position: relative;
  left: 0;
  top: 0;
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 10px;
  margin: auto;
  background-color: #FACBEA;
  position: relative;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.logotipo {
  width: 90px;
  height: 90px;
  border-radius: 400px;
}

.desplegable {
  position: relative;
  display: inline-block;
  z-index: 999;
}


.menu {
  width: 25%;
  display: flex;
  gap: 18px;
  justify-content: center;
}

.logo {
  position: absolute;
  z-index: 99;
  left: 30%;
  top: -27px;
}

.menu-horizontal {
  display: none;
  position: absolute;
  background-color: #FACBEA;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 #FACBEA;

}


.desplegable:hover .menu-horizontal {
  display: block;
}


.menu-vertical:hover {
  text-decoration: underline;
  background-color: #77365d52;
}

.desplegable a {
  display: block;
  color: black;
  padding: 15px 10;

}

.carousel .carousel-inner .carousel-item img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  z-index: 1;
}






#segunda-seccion {
  background-color: #FACBEA;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;

}

#titulo h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  padding: auto;
  color: #77365d;


}

#titulo hr {
  align-items: center;
  width: 500px;
  color: white;
  margin-bottom: 10px;
  border: 1px dashed;
}

.producto h6 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: auto;
  color: #572342;
}

#productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 40px 20px;
  margin-top: 30px;
}

.producto {
  width: 400px;
}

.producto img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.producto2 {
  height: 400px;
  width: 400px;
  padding: 20px;

}

.producto3 {
  height: 400px;
  width: 400px;
  padding: 40px;

}

footer {
  background-color: #C23373;
  color: white;
  padding: 5px;
  text-align: center;

}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FACBEA;

}

.titulo {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 30px;
  font-size: 30px;

}

.item img {
  width: 220px;
  height: 280px;
  border-radius: 10px;

}

.item {
  margin: 15px;

}

.item p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;

}

.titulo {
  text-align: center;
  font-size: 60px;
  font-weight: 200;
  padding: auto;
  color: #77365d;
  font-family: 'Josefin Sans', sans-serif;
}

.item p {
  color: #77365d;
}

.historiasmariaka {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 5px 5px; */
  margin-top: 30px;
  padding: 50px;
  background-color: #FACBEA;
}

.nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 40px 20px;
  background-color: antiquewhite;
  ;
}

.img-nosotros {
  width: 70%;
  height: 75%;
  border-radius: 5px;
  margin-top: 20px;
}
.nosotros-1{
  padding: 35px;
  font-size: 25px;
  
}

/* responsive */

@media (max-width: 767px) {
  .logo{
    position: relative;
    top: 0;
    left: 0;
  }

  .menu {
    top: 100%;
    position: absolute;
    width: 100%;
    height: 77dvh;
    flex-direction: column;
    background: #c23373;
    z-index: 99;
    left: 100%;
  }

  nav a{
    color: #fff;
  }
  .btn-wpp {
    position: fixed;
    width: 20px;
    height: 20px;
    bottom: 25px;
    right: 15px;
    text-align: right;
    font-size: 20px;
    z-index: 50;
  }

  .desplegable {
    position: relative;
    display: inline-block;
    z-index: 999;
  }
  .titulo{
    margin: 30px 0;
  }
  #titulo h1{
    font-size: 40px;
  }
  .producto{
    width: auto;
  }
  .producto img{
    height: 100px;
  }
  .producto h6{
    font-size: 16px;
  }
  .burguer{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
  }
  .burguer div{
    width: 40px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    margin-top: 5px;
  }
  header{
    position: relative;
  }

}